@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root{
    --main-color: #5e27e5;
    --sub-color: #aee527;
}

html,
body{
    margin: 0;
    padding: 0;
}

* {
    font-family: montserrat, sans-serif;
}
.todo-header{
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    align-items: center;
}

.logo {
    font-weight: 600;
    letter-spacing: 10px;
}

.btn-create {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--sub-color);
}

/* TODO SECTION */
.todo-section {
    width: 100%;
    max-width: 400px;
    padding: 30px 15px;
    margin: 15px auto;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
}

.todo-lists {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.todo-item{
    padding: 10px 0;
    padding-left: 50px;
    background-image: url(../ico/check.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 300ms ease;
    -webkit-transition: 300ms ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .todo-item:hover {
     background-color: rgba(0, 0, 0, 0.1);
     background-position: 7px;

 }

 .todo-item-checked {
    background-image: url(../ico/checked.png);
    text-decoration: line-through;
 }

 .todo-item:last-child{
     border: none;
 }

 .timestamp{
     opacity: 0.3;
     font-size: 10PX;
 }